<div ng-app="myapp">
  <div ng-controller="MainCtrl">
    Hello {{name}}!

    <ul >
    <li ng-repeat="item in items">
      <p>Always present: {{item.name}}</p>
      <p>Loads later: {{item.lateLoader}} <span ng-bind="{{item.lateLoader}}"></span><i ng-hide="item.lateLoader"  class="icon icon-refresh icon-spin">loading image i don't have</i></p>
    </li>
  </ul>
  </div>
</div>
